@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
}

.navigation-menu {
  list-style: none;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  line-height: 24px;
  text-decoration: none;
}

.button {
  font-size: 16px;
  font-weight: 700;
  background-color: #82b3d3;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  padding: 8px;
  border-radius: 4px;
}

.navigation-link-switch {
  background-color: #756157;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.navigation-link-search {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
}

.navigation-link-favorites {
  background-image: url("../images/favorites.svg");
  background-repeat: no-repeat;
}

.main-page-img {
  background-image: url("../images/index-backgroung.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  background-color: rgb(131, 179, 211, 40%);
}

.main-page-img-description {
  margin-top: 51px;
  margin-bottom: 82px;
}

.sedona-advantages {
  text-align: center;
}

.sedona-description {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.sedona-reason {
  font-size: 22px;
  line-height: 26px;
}

.sedona-advantages-list {
  margin: 0;
  padding: 0;
}

.sedona-advantages-list-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.dark {
  background-color: #82b3d3;
  color: #ffffff;
}

.medium {
  background-color: rgb(131, 179, 211, 20%);
}

.light {
  background-color: rgb(131, 179, 211, 12%);
}

.housing {
  text-align: center;
  background-image: url("../images/icon-1.svg");
  background-repeat: no-repeat;
  background-color: rgb(131, 179, 211, 12%);
}

.foods {
  text-align: center;
  background-color: #ffffff;
  background-image: url("../images/icon-2.svg");
  background-repeat: no-repeat;
}

.souvenirs {
  text-align: center;
  background-color: rgb(131, 179, 211, 12%);
  background-image: url("../images/icon-3.svg");
  background-repeat: no-repeat;
}

.sedona-hotels {
  text-align: center;
}

.sedona-mailing {
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
}

.search-sedona-hotels-button {
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.mailing {
  color: #ffffff;
}

.mailing-input {
  font-family: inherit;
  line-height: 24px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.catalog-mailing {
  background-image: none;
  color: #000000;
}

.catalog-mailing-text {
  color: #333333;
}

.footer-telephone-link {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-logo {
  background-image: url("../images/html-academy-footer-logo.svg");
  background-repeat: no-repeat;
}

.catalog-hotels {
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
}

.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
}

.page-links-item-hotels {
  font-size: 16px;
}

.catalog-filter-group-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter {
  line-height: 23px;
}

.reset-button {
  background-color: rgb(0, 0, 0, 0.1);
}

.search-hotels-result-sum {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.sorting-filters {
  font-family: inherit;
  font-size: 18px;
  color: #333333;
  line-height: 21px;
}

.cards-filters {
  list-style: none;
}

.cards-filters-item-link {
  border: 1px solid #e5e5e5;
  background-repeat: no-repeat;
}

.view-selected {
  border: 1px solid #000000;
}

.tables-link {
  background-image: url("../images/tables-icon.svg");
}

.card-link {
  background-image: url("../images/card-icon.svg");
}

.column-link {
  background-image: url("../images/column-icon.svg");
}

.hotel-cards {
  list-style: none;
}

.hotel-cards-item-link {
  text-decoration: none;
  color: #000000;
}

.hotel-cards-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.pagination {
  list-style: none;
}

.pagination-item {
  background-color: #82b3d3;
  width: 60px;
  height: 60px;
}

.pagination-item-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
}

.current-page {
  color: #000000;
}
