@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.page-wrapper {
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  margin: 0 70px;
  justify-content: space-between;
  height: 64px;
}

.logo-link {
  z-index: 1;
}

.navigation-menu {
  list-style: none;
  margin: 0;
  margin-right: auto;
  margin-left: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-user {
  margin: 0;
  padding: 0;
}

.navigation-menu-item {
  display: block;
  padding: 0 16px;
}

.navigation-menu-link-current {
  padding-bottom: 17px;
  border-bottom: 2px solid #756257;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  line-height: 24px;
  text-decoration: none;
}

.button {
  font-size: 16px;
  font-weight: 700;
  background-color: #82b3d3;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  padding: 8px;
  border-radius: 4px;
}

.navigation-link-switch {
  display: block;
  background-color: #756157;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 34px;
}

.navigation-link-switch:hover {
  background-color: #615048;
  cursor: pointer;
}

.navigation-link-switch:focus {
  background-color: #615048;
}

.navigation-link-switch:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link-switch:disabled {
  background-color: #e5e5e5;
}

.navigation-link-search {
  display: block;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.navigation-link-favorites {
  display: block;
  width: 18px;
  height: 17px;
  background-image: url("../images/favorites.svg");
  background-repeat: no-repeat;
}

.favorites-products {
  position: relative;
  top: -16px;
  left: 10px;
  border-radius: 10px;
  background-color: #7db54f;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  padding: 4px;
}

.main-content {
  flex-grow: 1;
}

.main-page-img {
  background-image: url("../images/index-backgroung.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.4);
}

.main-page-img-description {
  margin-top: 51px;
  margin-bottom: 82px;
}

.sedona-advantages {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sedona-description {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  width: 650px;
  margin: 69px 0 25px 0;
}

.sedona-reason {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 69px;
  padding: 0 100px;
}

.sedona-advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sedona-advantages-list-item-img {
  display: block;
  max-width: 100%;
}

.sedona-advantages-list-item {
  display: flex;
  align-items: center;
}

.sedona-advantages-list-wrapper {
  display: flex;
  flex-direction: column;
  padding: 102px 85px;
  width: 400px;
  box-sizing: border-box;
  align-items: center;
}

.sedona-advantages-list-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.sedona-advantages-list-item-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.advantages-title-light::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sedona-advantages-list-item-text {
  margin: 0;
}

.dark {
  background-color: #82b3d3;
  color: #ffffff;
  grid-column: 1 / -1;
}

.medium {
  background-color: rgba(131, 179, 211, 0.2);
}

.light {
  background-color: rgba(131, 179, 211, 0.12);
}

.title-services-block {
  width: 505px;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 20px;
}

.text-services-block {
  margin-bottom: 64px;
}

.sedona-services {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.sedona-services-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.sedona-services-list-item {
  width: 400px;
  list-style: none;
  box-sizing: border-box;
  padding: 81px 85px;
  text-align: center;
}

.sedona-services-list-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.sedona-services-list-item-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.sedona-services-list-item-color {
  background-color: rgba(131, 179, 211, 0.12);
}

.housing-title::before {
  content: url("../images/icon-1.svg");
  display: block;
  margin-bottom: 30px;
}

.housing-text {
  margin: 0;
}

.foods-title::before {
  content: url("../images/icon-2.svg");
  display: block;
  margin-bottom: 30px;
}

.foods-text {
  margin: 0;
}

.souvenirs-title::before {
  content: url("../images/icon-3.svg");
  display: block;
  margin-bottom: 30px;
}

.souvenirs-text {
  margin: 0;
}

.sedona-hotels {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hotels-title {
  margin-top: 96px;
  margin-bottom: 20px;
}

.hotels-text {
  width: 600px;
  margin-bottom: 54px;
}

.sedona-mailing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.4);
  padding: 96px 250px 104px;
}

.search-sedona-hotels-button {
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  width: 376px;
  margin-bottom: 96px;
}

.search-sedona-hotels-button:hover {
  background-color: #615048;
  cursor: pointer;
}

.search-sedona-hotels-button:focus {
  background-color: #615048;
}

.search-sedona-hotels-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.search-sedona-hotels-button:disabled {
  background-color: #e5e5e5;
}

.search-hotels-result {
  margin-bottom: 60px;
}

.mailing {
  color: #ffffff;
}

.mailing-title {
  margin-bottom: 20px;
}

.mailing-text {
  width: 475px;
  margin-bottom: 54px;
}

.input-wrapper {
  width: 684px;
  display: flex;
  justify-content: center;
}

.mailing-input {
  width: 455px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 20px;
}

.mailing-input-background {
  background-color: #f2f2f2;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  padding: 8px 50px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.subscribe-button:hover {
  cursor: pointer;
  background-color: #68a2ca;
}

.subscribe-button:focus {
  background-color: #68a2ca;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-mailing {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}

.catalog-mailing-text {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
  padding: 0 100px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 70px 30px;
}

.footer-social-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-social-links-item {
  position: relative;
  width: 48px;
}

.footer-social-links-item-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.footer-social-links-item-icon:hover {
  fill: #68a2ca;
}

.footer-social-links-item-icon:focus {
  fill: #68a2ca;
}

.footer-social-links-item-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-telephone {
  max-width: 750px;
}

.footer-telephone-link {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-telephone-link:hover {
  color: #756157;
}

.footer-telephone-link:focus {
  color: #756157;
}

.footer-telephone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo-link {
  fill: #000000;
}

.footer-logo-link:hover {
  fill: #756157;
}

.footer-logo-link:focus {
  fill: #756157;
}

.footer-logo-link:active {
  fill: rgba(117, 97, 87, 0.3);
}

.catalog-hotels {
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  background-color: rgba(130, 179, 211, 1);
  margin-bottom: 50px;
}

.catalog-hotels-wrapper {
  padding: 35px 70px 70px;
}

.catalog-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
}

.page-links {
  list-style: none;
  display: flex;
  padding: 0;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
  margin-top: 8px;
}

.page-links-item-home {
  display: block;
  background-image: url("../images/switch-pages-icon-home.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.page-links-item-arrow {
  display: block;
  background-image: url("../images/switch-pages-icon-arrow.svg");
  background-repeat: no-repeat;
  width: 6px;
  height: 10px;
  margin: 0 10px;
}

.page-links-item-hotels {
  font-size: 16px;
}

.serch-hotels-form {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;

}

.catalog-filter-group-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.filter {
  line-height: 23px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.filter-check {
  width: 20px;
  height: 20px;
  position: relative;
  appearance: none;
  border-radius: 4px;
  background: #ffffff;
  margin: 0;
  padding: 0;
  margin-right: 16px;
}

.input-checkbox::after {
  content: " ";
  position: absolute;
  background-image: url("../images/checked-input.svg");
  background-repeat: no-repeat;
  top: 5px;
  left: 4px;
}

.input-checkbox:checked::after {
  width: 20px;
  height: 20px;
}

.input-radio {
  border-radius: 50%;
}

.input-radio::after {
  content: " ";
  position: absolute;
  background-image: url("../images/input-radio.svg");
  background-repeat: no-repeat;
  top: 5px;
  left: 5px;
}

.input-radio:checked::after {
  width: 20px;
  height: 20px;
}

.filter-price-wrapper {
  display: flex;
  margin-bottom: 36px;
}

.catalog-filter-group-field {
  width: 145px;
  height: 50px;
  border: none;
  margin-right: 2px;
  background-color: #f2f2f2;
}

.start-price {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.start-price::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding-left: 20px;
}

.finish-price {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.finish-price::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding-left: 20px;
}

.slider {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid #ffffff;
  position: relative;
}

.slider-button {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: -8px;
}

.slider-button-max {
  position: absolute;
  left: 75%;
}

.catalog-filter-group-buttons {
  width: 191px;
}

.apply-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 191px;
  margin: 56px 0 32px;
  padding: 8px 50px;
}

.reset-button {
  width: 191px;
  background-color: rgba(0, 0, 0, 0);
}

.search-hotels-result {
  padding: 0 70px;
}

.search-hotels-result-header {
  display: flex;
  justify-content: space-between;
}

.search-hotels-result-sum {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.sorting-filters-wrapper {
  position: relative;
}

.sorting-filters {
  font-family: inherit;
  font-size: 18px;
  color: #333333;
  line-height: 21px;
  width: 292px;
  height: 49px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 0 20px;
  appearance: none;
}

.sorting-filters-wrapper::after {
  content: "";
  position: absolute;
  background-image: url("../images/sorting-filter-arrow.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  right: 20px;
  top: 20px;
}

.cards-filters {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.cards-filters-item-link {
  display: block;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  background-position: center;
  margin-left: 8px;
}

.view-selected {
  border: 2px solid #000000;
}

.tables-link {
  background-image: url("../images/tables-icon.svg");
}

.card-link {
  background-image: url("../images/card-icon.svg");
}

.column-link {
  background-image: url("../images/column-icon.svg");
}

.hotel-cards {
  list-style: none;
  padding: 0;
  margin: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.hotel-cards-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #e6e6e6;
  padding: 20px;
}

.hotel-cards-item-link {
  text-decoration: none;
  color: #000000;
  grid-column: 1 / -1;
}

.hotel-cards-item-img {
  width: 100%;
  margin-bottom: 16px;
}

.hotel-cards-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  margin: 0;
  margin-bottom: 16px;
}

.hotel-description {
  display: inline-block;
  margin: 0;
  margin-bottom: 16px;
}

.hotel-price {
  display: inline-block;
  margin: 0;
  margin-bottom: 16px;
  justify-self: end;
}

.button-description {
  display: inline-block;
  background-color: #756157;
  padding: 8px 22px;
  width: min-content;
  height: min-content;
}

.hotel-stars {
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
}

.four-stars {
  background-image: url("../images/stars-4.svg");
}

.three-stars {
  background-image: url("../images/stars-3.svg");
}

.two-stars {
  background-image: url("../images/stars-2.svg");
}

.button-favorites {
  display: inline-block;
  background-color: #82b3d3;
  width: max-content;
  margin-bottom: 16px;
  justify-self: end;
  padding: 8px 16px;
}

.button-favorites-add {
  background-color: #7db54f;
}

.button-rating {
  background-color: #f2f2f2;
  color: #333333;
  font-weight: 400;
  line-height: 20px;
  margin: 0 auto;
  padding: 8px 26px;
}

.crossline {
  display: block;
  border: 1px solid #e6e6e6;
  margin-bottom: 40px;
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 60px;
}

.pagination-item {
  display: flex;
  background-color: #82b3d3;
  border-radius: 4px;
  text-align: center;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item-link {
  padding-top: 11px;
  box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
}

.current-page {
  background-color: #f2f2f2;
}

.current-pagination-link {
  color: #000000;
}

.show-more-pages {
  background-color: #ffffff;
}

.show-more-pages-link {
  color: #000000;
}
