@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.page-wrapper {
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  margin: 0 70px;
  justify-content: space-between;
  height: 64px;
}

.logo-link {
  z-index: 1;
}

.navigation-menu {
  list-style: none;
  margin: 0;
  margin-right: auto;
  margin-left: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
}

.logo-img:hover {
  opacity: 0.7;
}

.logo-img:active {
  opacity: 0.5;
}

.navigation-user {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 29px;
  justify-content: end;
}

.navigation-menu-item {
  display: block;
  padding: 0 16px;
}

.navigation-menu-link-current {
  padding-bottom: 17px;
  border-bottom: 2px solid #756257;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  line-height: 24px;
  text-decoration: none;
}

.navigation-link:hover {
  opacity: 0.7;
}

.navigation-link:active {
  opacity: 0.5;
}

.navigation-menu-link-current:hover {
  opacity: 1;
  cursor: default;
}

.button {
  font-size: 16px;
  font-weight: 700;
  background-color: #82b3d3;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  padding: 8px;
  border-radius: 4px;
}

.navigation-link-switch {
  display: block;
  background-color: #756157;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 34px;
}

.navigation-link-switch:hover {
  background-color: #615048;
  cursor: pointer;
}

.navigation-link-switch:focus {
  background-color: #615048;
  outline: #615048;
}

.navigation-link-switch:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link-switch:disabled {
  background-color: #e5e5e5;
}

.navigation-link-search {
  display: block;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.navigation-link-search:hover {
  opacity: 0.7;
}

.navigation-link-search:active {
  opacity: 0.5;
}

.navigation-link-favorites {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/favorites.svg");
  background-repeat: no-repeat;
  text-decoration: none;
}

.navigation-link-favorites:hover {
  opacity: 0.7;
}

.navigation-link-favorites:active {
  opacity: 0.5;
}

.favorites-products {
  position: relative;
  top: -15px;
  left: 8px;
  border-radius: 10px;
  background-color: #7db54f;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  padding: 4px;
}

.main-content {
  flex-grow: 1;
}

.main-page-img {
  background-image: url("../images/index-backgroung.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.4);
}

.main-page-img-description {
  margin-top: 50px;
  margin-bottom: 80px;
}

.sedona-advantages {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 69px;
}

.sedona-description {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  width: 650px;
  margin: 0;
}

.sedona-reason {
  font-size: 22px;
  line-height: 25px;
  margin: 0;
  padding: 25px;
}

.sedona-advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 64px;
}

.sedona-advantages-list-item-img {
  display: block;
  max-width: 100%;
}

.sedona-advantages-list-item {
  display: flex;
  align-items: center;
}

.sedona-advantages-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  box-sizing: border-box;
  align-items: center;
}

.dark-wrapper {
  padding: 102px 85px;
}

.light-wrapper {
  padding: 112px 85px;
}

.sedona-advantages-list-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.sedona-advantages-list-item-text {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.sedona-advantages-list-item-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 35px auto 30px;
}

.dark::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.dark {
  background-color: #82b3d3;
  color: #ffffff;
  grid-column: 1 / -1;
}

.medium {
  background-color: rgba(131, 179, 211, 0.2);
}

.light {
  background-color: rgba(131, 179, 211, 0.12);
}

.title-services-block {
  width: 505px;
  text-align: center;
}

.text-services-block {
  margin: 0;
  margin-bottom: 37px;
}

.sedona-services {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 62px;
}

.sedona-services-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.sedona-services-list-item {
  width: 400px;
  list-style: none;
  box-sizing: border-box;
  padding: 81px 85px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 29px;
}

.sedona-services-list-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.sedona-services-list-item-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

.sedona-services-list-item-title::before {
  content: url("../images/icon-1.svg");
  display: block;
  margin-bottom: 24px;
}

.sedona-services-list-item-color {
  background-color: rgba(131, 179, 211, 0.12);
}

.foods-title {
  margin-bottom: -10px;
}

.foods-title::before {
  content: url("../images/icon-2.svg");
  display: block;
  margin-bottom: 25px;
}

.foods-text {
  margin: 0;
}

.souvenirs-title {
  margin-bottom: -13px;
}

.souvenirs-title::before {
  content: url("../images/icon-3.svg");
  display: block;
  margin-bottom: 20px;
}

.souvenirs-text {
  margin: 0;
}

.sedona-hotels {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hotels-title {
  margin-top: 97px;
  margin-bottom: -3px;
}

.hotels-text {
  width: 600px;
  margin-bottom: 28px;
}

.sedona-mailing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.4);
  padding: 28px 250px 103px;
}

.search-sedona-hotels-button {
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  width: 376px;
  margin-bottom: 96px;
  letter-spacing: -2px;
}

.search-sedona-hotels-button:hover {
  background-color: #615048;
  cursor: pointer;
}

.search-sedona-hotels-button:focus {
  background-color: #615048;
  outline: none;
}

.search-sedona-hotels-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.search-sedona-hotels-button:disabled {
  background-color: #e5e5e5;
}

.mailing {
  color: #ffffff;
}

.mailing-text {
  width: 475px;
  margin-bottom: 55px;
  padding: 0;
}

.input-wrapper {
  width: 682px;
  display: flex;
  justify-content: center;
}

.mailing-title {
  margin-top: 70px;
  margin-bottom: 21px;
}

.mailing-input {
  width: 455px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 20px;
}

.mailing-input:placeholder-shown {
  font-size: 18px;
  font-weight: 400;
}

.mailing-input-background {
  background-color: #f2f2f2;
}

.mailing-input:hover {
  background-color: #e5e5e5;
}

.mailing-input:focus {
  outline: 3px solid #83b3d3;
  background-color: #e5e5e5;
}

.subscribe-button {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 11px 45px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.subscribe-button:hover {
  cursor: pointer;
  background-color: #68a2ca;
}

.subscribe-button:focus {
  outline: none;
  background-color: #68a2ca;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:disabled {
  background-color: #e5e5e5;
}

.catalog-mailing {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 48px;
}

.catalog-mailing-text {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
  padding: 0 100px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 70px 30px;
}

.footer-social-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-social-links-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  outline: none;
}

.footer-social-links-item-icon {
  fill: #83b3d3;
}

.footer-social-links-item:hover svg {
  fill: #68a2ca;
}

.footer-social-links-item:focus svg {
  fill: #68a2ca;
}

.footer-social-links-item:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-telephone {
  max-width: 750px;
}

.footer-telephone-link {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-telephone-link:hover {
  color: #756157;
}

.footer-telephone-link:focus {
  color: #756157;
  outline: none;
}

.footer-telephone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  display: block;
  width: 115px;
  height: 33px;
  outline: none;
}

.footer-logo-icon {
  fill: #000000;
}

.footer-logo:hover svg {
  fill: #756157;
}

.footer-logo:focus svg {
  fill: #756157;
}

.footer-logo:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

.catalog-hotels {
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  background-color: #82b3d3;
  margin-bottom: 50px;
}

.catalog-hotels-wrapper {
  padding: 35px 69px 56px;
}

.catalog-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
}

.page-links {
  list-style: none;
  display: flex;
  padding: 0;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
  margin-top: 8px;
}

.page-links-item {
  margin-right: 28px;
}

.page-links-item-home {
  display: block;
  background-image: url("../images/switch-pages-icon-home.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  position: relative;
}

.page-links-item-home::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -13px;
  left: -15px;
}

.page-links-item-home:hover {
  opacity: 0.7;
}

.page-links-item-home:active {
  opacity: 0.5;
}

.page-links-item-hotels {
  font-size: 16px;
  position: relative;
}

.page-links-item-hotels::before {
  content: "";
  display: block;
  background-image: url("../images/switch-pages-icon-arrow.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 20px;
  position: absolute;
  left: -18px;
  top: 5px;
  cursor: default;
}

.serch-hotels-form {
  display: flex;
  justify-content: space-between;
  gap: 150px;
}

.catalog-filters-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-group-title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 35px;
}

.filter {
  line-height: 23px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.filter:hover {
  opacity: 0.7;
  cursor: pointer;
}

.filter:active {
  opacity: 0.5;
}

.filter-check {
  width: 23px;
  height: 23px;
  position: relative;
  appearance: none;
  border-radius: 4px;
  background: #ffffff;
  margin: 0;
  padding: 0;
  margin-right: 12px;
}

.filter-check:hover {
  cursor: pointer;
}

.filter-check:focus {
  outline: 3px solid #83b3d3;
}

.input-checkbox::after {
  content: "";
  position: absolute;
  background-image: url("../images/checked-input.svg");
  background-repeat: no-repeat;
  top: 6px;
  left: 6px;
}

.input-checkbox:checked::after {
  width: 23px;
  height: 23px;
}

.input-radio {
  border-radius: 50%;
}

.input-radio::after {
  content: "";
  position: absolute;
  background-image: url("../images/input-radio.svg");
  background-repeat: no-repeat;
  top: 6px;
  left: 6px;
}

.input-radio:checked::after {
  width: 20px;
  height: 20px;
}

.filter-price-wrapper {
  display: flex;
  margin-bottom: 28px;
}

.catalog-filter-group-field {
  width: 79px;
  border: none;
  margin-right: 2px;
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 13px 45px 11px 19px;
}

.catalog-filter-group-field::-webkit-outer-spin-button,
.catalog-filter-group-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-group-field:hover {
  background-color: #e6e6e6;
}

.catalog-filter-group-field:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.start-price {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  position: relative;
}

.start-price-wrapper {
  position: relative;
}

.start-price-wrapper::after {
  content: "от";
  position: absolute;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  top: 25%;
  right: 15%;
  opacity: 0.3;
  cursor: default;
}

.finish-price {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.finish-price-wrapper {
  position: relative;
}

.finish-price-wrapper::after {
  content: "до";
  position: absolute;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  top: 25%;
  right: 16%;
  opacity: 0.3;
  cursor: default;
}

.slider {
  background-color: rgb(255, 255, 255, 0.3);
  height: 4px;
  position: relative;
}

.slider-inner-wrapper {
  width: 75%;
  height: 100%;
  background-color: #ffffff;
}

.slider-inner-wrapper-line {
  display: block;
  width: 100%;
  background-color: #ffffff;
}

.slider-button {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: -10px;
  border: none;
}

.slider-button:hover {
  cursor: pointer;
  background-color: #e5e5e5;
}

.slider-button:active {
  background-color: #acacac;
  outline: 2px solid #83b3d3;
}

.slider-button:focus {
  outline: 3px solid #83b3d3;
}

.slider-button-max {
  position: absolute;
  left: 71%;
}

.apply-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 187px;
  margin: 54px 0 34px;
  padding: 10px;
  letter-spacing: -1px;
}

.apply-button:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.apply-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.apply-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.apply-button:disabled {
  background-color: #e5e5e5;
  color: rgba(255, 255, 255, 0.3);
}

.reset-button {
  width: 200px;
  background-color: transparent;
  letter-spacing: -1px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.reset-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.reset-button:focus {
  outline: 3px solid #83b3d3;
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.reset-button:disabled {
  opacity: 0.1;
}

.search-hotels-result {
  padding: 0 70px;
  margin-bottom: 60px;
}

.search-hotels-result-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-hotels-result-sum {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: 136px;
}

.sorting-filters-wrapper {
  position: relative;
}

.sorting-filters {
  font-family: inherit;
  font-size: 18px;
  color: #333333;
  line-height: 21px;
  width: 292px;
  height: 49px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 0 20px;
  appearance: none;
  cursor: pointer;
}

.sorting-filters:hover {
  outline: 2px solid #68a2ca;
}

.sorting-filters:focus {
  outline: 2px solid #68a2ca;
}

.sorting-filters:disabled {
  outline: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.sorting-filters-wrapper::after {
  content: "";
  position: absolute;
  background-image: url("../images/sorting-filter-arrow.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  right: 20px;
  top: 20px;
}

.cards-filters {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0;
}

.cards-filters-item-link {
  display: block;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  background-position: center;
  margin-left: 8px;
}

.view-selected {
  outline: 2px solid #e5e5e5;
  border: none;
}

.view-selected-current {
  outline: 2px solid #000000;
}

.view-selected:hover {
  outline: 2px solid #000000;
}

.view-selected:focus {
  outline: 2px solid #68a2ca;
}

.view-selected:active {
  outline: 2px solid #000000;
}

.tables-link {
  background-image: url("../images/tables-icon.svg");
}

.card-link {
  background-image: url("../images/card-icon.svg");
}

.column-link {
  background-image: url("../images/column-icon.svg");
}

.hotel-cards {
  list-style: none;
  padding: 0;
  margin: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.hotel-cards-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #e6e6e6;
  padding: 20px;
}

.hotel-cards-item-link {
  text-decoration: none;
  color: #000000;
  grid-column: 1 / -1;
}

.hotel-cards-item-img {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.hotel-cards-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  margin: 0;
  margin-bottom: 15px;
}

.hotel-description {
  display: inline-block;
  margin: 0;
  margin-bottom: 19px;
}

.hotel-price {
  display: inline-block;
  margin: 0;
  margin-bottom: 17px;
  justify-self: end;
}

.button-description {
  display: inline-block;
  background-color: #756157;
  padding: 6px 26px;
  width: min-content;
  height: min-content;
}

.button-description:hover {
  background-color: #615048;
}

.button-description:focus {
  background-color: #615048;
  outline: none;
}

.button-description:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-description:disabled {
  background-color: #e5e5e5;
}

.hotel-stars {
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
}

.four-stars {
  background-image: url("../images/stars-4.svg");
}

.three-stars {
  background-image: url("../images/stars-3.svg");
}

.two-stars {
  background-image: url("../images/stars-2.svg");
}

.button-favorites {
  display: inline-block;
  background-color: #82b3d3;
  width: 93%;
  margin-bottom: 16px;
  justify-self: end;
  padding: 10px;
  letter-spacing: -1px;
}

.button-favorites:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.button-favorites:focus {
  background-color: #68a2ca;
  outline: none;
}

.button-favorites:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-favorites:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.button-favorites-add {
  background-color: #7db54f;
  padding: 10px;
}

.button-favorites-add:hover {
  background-color: #6c9e42;
}

.button-favorites-add:focus {
  background-color: #6c9e42;
  outline: none;
}

.button-favorites-add:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.button-favorites-add:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.button-rating {
  background-color: #f2f2f2;
  color: #333333;
  font-weight: 400;
  line-height: 20px;
  margin: 0 auto;
  padding: 8px 26px;
  letter-spacing: -1px;
}

.crossline {
  display: block;
  border: 1px solid #e6e6e6;
  margin-bottom: 34px;
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 60px;
}

.pagination-item {
  display: flex;
  background-color: #82b3d3;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item-link {
  padding-top: 11px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  width: 60px;
  height: 50px;
}

.pagination-item:hover {
  background-color: #68a2ca;
  border-radius: 4px;
  outline: 1px solid #82b3d3;
  cursor: pointer;
}

.pagination-item-link:focus {
  outline: none;
  background-color: #68a2ca;
  border-radius: 4px;
}

.pagination-item-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.current-page {
  background-color: #f2f2f2;
}

.current-page:hover {
  background-color: #f2f2f2;
  outline: none;
  cursor: default;
}

.current-pagination-link {
  color: #000000;
}

.current-pagination-link:hover {
  background-color: #f2f2f2;
  border: none;
  outline: none;
  cursor: default;
}

.current-pagination-link:focus {
  border: none;
  outline: none;
  background-color: #f2f2f2;
}

.current-pagination-link:active {
  border: none;
  outline: none;
}

.show-more-pages {
  background-color: #ffffff;
}

.show-more-pages-link {
  color: #000000;
}

.show-more-pages:hover {
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.show-more-pages-link:focus {
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  /* display: flex; */
  display: none;
}

.popup-container {
  width: 578px;
  padding: 80px 69px;
  background-color: #ffffff;
  margin: auto;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.popup-title-wrapper {
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.popup-title {
  margin: 0;
  margin-top: -19px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.popup-close-button {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: -4%;
  top: -85%;
}

.popup-close-button:hover {
  background-color: #e6e6e6;
}

.popup-close-button:focus {
  outline: none;
  border: 3px solid #83b3d3;
}

.popup-close-button:active {
  outline: none;
  border: none;
  background-color: #e6e6e6;
  opacity: 0.3;
}

.popup-form {
  display: flex;
  flex-direction: column;
}

.popup-form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  margin: 0;
  padding: 0;
}

.popup-form-item-calendar-icon {
  position: relative;
}

.popup-form-item-calendar-icon::after {
  content: "";
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  right: 3%;
  top: 35%;
  opacity: 0.3;
  cursor: pointer;
}

.popup-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.popup-date-field {
  width: 368px;
  height: 48px;
}

.popup-error-text {
  font-size: 16px;
  color: #ff5757;
  margin-left: 160px;
  margin-bottom: 25px;
  padding-right: 10px;
}

.popup-info-text {
  font-size: 16px;
  color: #333333;
  margin-left: 160px;
  margin-bottom: 33px;
}

.popup-search-hotels-button {
  height: 60px;
  border-radius: 10px;
  border: none;
  background-color: #83b3d3;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  padding: 0;
  margin-top: 45px;
}

.popup-search-hotels-button:hover {
  background-color: #68a2ca;
}

.popup-search-hotels-button:focus {
  background-color: #68a2ca;
  border: none;
  outline: none;
}

.popup-search-hotels-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.popup-field {
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  padding: 0;
  padding-left: 20px;
  padding-right: 50px;
}

.popup-field:hover {
  background-color: #e6e6e6;
}

.popup-field:focus {
  outline: 3px solid #83b3d3;
}

.popup-person-field {
  text-align: center;
  width: 110px;
  height: 48px;
  margin-left: 46px;
  padding: 0;
}

.popup-person-field::-webkit-outer-spin-button,
.popup-person-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.popup-field:placeholder-shown {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

.popup-adult-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.popup-children-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.popup-adult-input-wrapper {
  position: relative;
}

.popup-numbers-icon-wrapper {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  position: absolute;
  border: none;
  background-color: transparent;
  opacity: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minus-icon-wrapper {
  left: 35%;
  top: 20%;
}

.minus-icon-wrapper:hover {
  cursor: pointer;
  opacity: 1;
}

.minus-icon-wrapper:focus {
  outline: none;
  border: 3px solid #82b3d3;
  opacity: 1;
  border-radius: 4px;
}

.minus-icon-wrapper:active {
  outline: none;
  border: none;
  opacity: 0.2;
}

.plus-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
  cursor: pointer;
}

.plus-icon-wrapper {
  top: 20%;
  right: 10%;
}

.plus-icon-wrapper:hover {
  cursor: pointer;
  opacity: 1;
}

.plus-icon-wrapper:focus {
  outline: none;
  border: 3px solid #82b3d3;
  opacity: 1;
  border-radius: 4px;
}

.plus-icon-wrapper:active {
  outline: none;
  border: none;
  opacity: 0.2;
}

.popup-children-input-wrapper {
  position: relative;
}

.tooltip {
  margin-left: 10px;
  position: relative;
}

.tooltip-button {
  width: 26px;
  height: 26px;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip-description {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  width: 256px;
  position: absolute;
  left: 30%;
  z-index: 1;
  transform: translateX(-50%);
  bottom: -500%;
  display: none;
}

.tooltip-description::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #333333;
  transform: rotate(45deg);
  position: absolute;
  top: -5%;
  right: 45%;
}

.tooltip-button:hover + .tooltip-description {
  display: block;
}

.tooltip-button:focus {
  outline: 1px solid #82b3d3;
  border: none;
}

.tooltip-button:focus + .tooltip-description {
  display: block;
}
